.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      font-family: cursive;
      font-weight: normal;
      color: rgb(250, 252, 250); /* or any other subtle color */
      font-size: 22px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  margin-top: 20px;
  }
  
  .icon-separator {
    display: inline-block;
    width: 250px;
    height: 4px;
    background-color: rgb(245, 241, 241);
    margin:  20px;
    border: 0px solid rgb(247, 246, 246);
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
  }
  
  .card {
    width: 10%;
    height: 100px;
    background-color: rgb(122, 134, 173);
    border-radius: 50%;
    box-shadow: 10px 12px 36px rgba(0, 0, 0, 0.3);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 15px;
    margin-bottom: 50px;
  }
  .card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px solid rgb(247, 246, 246);
    width: 18%;
    transform: translatex(-105%);
    z-index: -1; /* add this to move the line behind the circle */
  }
  
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-details {
    margin-top: 20px;
    color: red;
  }
  
  .bouncy {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(3px); }
    100% { transform: translateY(0); }
  }
  